body {
  background-color: #000;
  margin: auto;
  width: 100vw;
  font-family: Lato;
}

header {
  background-image: linear-gradient(to bottom, #147, #206);
  box-shadow: 0 0 10px rgba(64, 64, 64, 0.4);
}

h1 {
  font-size: 8vw;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  color: #DCA;
  text-transform: uppercase;
  /* text-shadow: 0 0 1px #000;  */
}

#input, #output {
  width: 70vw;
  padding-bottom: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  /* background-color: #555; */
  text-align: center;
}

#url {
  width: 67.5vw;
  font-size: 5vw;
  background-color: #222;
  color: #DCA;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.4);
  border: 2px solid #035;
  border-radius: 4px;
  padding-left: 5px;
}

.button, #tracks {
  background-color: #222;
  color: #DCA;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.4);
  border: 2px solid #035;
  border-radius: 4px;
}

.button {
  font-size: 5vw;
  transition: border 0.5s;
  margin-top: 2vh;
}

.button:hover {
  border: 2px solid #58A;
}

#tracks {
  width: 65vw;
  height: 50vh;
  font-size: 3.5vw;
  resize: none;
  padding: 5px 8px;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#info {
  font-family: 'Oleo Script Swash Caps';
  text-align: center;
  font-size: 3.5vw;
  width: 5.5vw;
  height: 5.5vw;
  background-color: #DCA;
  color: #000;
  border: 2px solid #000;
  outline: none;
  transition: box-shadow 0.5s;
  border-radius: 50%;
  position: absolute;
  top: 1vh;
  right: 2vw;
}

#info:hover {
  box-shadow: 0 0 10px 5px #DCA;
}

#infodiv {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}

#message {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  width: 65vw;
  height: 65vh;
  font-size: 3.5vw;
  resize: none;
  padding: 5px 8px;
  background-color: #000;
  color: #DCA;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.4);
  border: 2px solid #035;
  border-radius: 4px;
  margin: 0 auto;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#okay {
  text-align: center;
}

.keyword {
  text-shadow: 0 0 2px #DCA;
  color: #F82;
}

.contact {
  text-decoration: none;
  text-shadow: 0 0 5px #206;
  color: #41B;
  transition: color 0.5s;
}

.contact:hover {
  font-weight: bold;
  color: #38F;
}

#tracks::-webkit-scrollbar, #message::-webkit-scrollbar { width: 0 !important }

@media (min-width: 600px) {
  h1 {
    font-size: 3em;
  }

  #input {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #url {
    width: 67.5vw;
    font-size: 1.5em;
  }

  #submit {
    margin-top: 0;
    margin-left: 5px;
  }

  .button {
    font-size: 1.5em;
  }

  #tracks, #message {
    width: 68vw;
    font-size: 1.5em;
  }

  #info {
    font-size: 1.8em;
    width: 42px;
    height: 42px;
  }
}

@media (min-width: 1175px) {
  #url {
    font-size: 2em;
    flex-basis: 690px;
  }

  .button, #tracks {
    font-size: 2em;
  }

  #tracks, #message {
    width: 800px;
  }
}
