body {
  background-color: #000;
  margin: auto;
  width: 100vw;
}

header {
  background-image: linear-gradient(to bottom, #147, #206);
  box-shadow: 0 0 10px rgba(64, 64, 64, 0.4);
}

h1 {
  font-size: 8vw;
  font-family: Lato;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  color: #DCA;
  text-transform: uppercase;
  /* text-shadow: 0 0 1px #000;  */
}

#input {
  width: 70vw;
  padding-bottom: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  /* background-color: #555; */
  text-align: center;
}

#output {
  width: 70vw;
  padding-bottom: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  /* background-color: #777; */
  text-align: center;
}

#url {
  width: 67.5vw;
  font-size: 5vw;
  background-color: #222;
  color: #DCA;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.4);
  border: 2px solid #035;
  border-radius: 4px;
  padding-left: 5px;
}

.button {
  font-size: 5vw;
  background-color: #222;
  color: #DCA;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.4);
  border: 2px solid #035;
  border-radius: 4px;
  transition: border 0.5s;
  margin-top: 2vh;
}

.button:hover {
  border: 2px solid #58A;
}

#tracks {
  width: 65vw;
  height: 50vh;
  font-size: 3.5vw;
  background-color: #222;
  color: #DCA;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.4);
  border: 2px solid #035;
  border-radius: 4px;
  resize: none;
  padding: 5px 8px;
  white-space: nowrap;  
  overflow-wrap: normal;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#tracks::-webkit-scrollbar { width: 0 !important }

@media (min-width: 600px) {
  h1 {
    font-size: 3em;
  }

  #input {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #url {
    width: 67.5vw;
    font-size: 1.5em;
  }

  #submit {
    margin-top: 0;
    margin-left: 5px;
  }

  .button {
    font-size: 1.5em;
  }

  #tracks {
    width: 68vw;
    font-size: 1.5em;
  }
}

@media (min-width: 1175px) {
  #url {
    font-size: 2em;
    flex-basis: 690px;
  }

  .button {
    font-size: 2em;
  }

  #tracks {
    font-size: 1.5em;
    width: 800px;
  }
}
