<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bandcamp to RYM</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1>Bandcamp to RYM</h1>

    <form method="POST">
      <div id="input">
        <input id="url" type="text" name="url">
        <input class="button" id="submit" type="submit">
      <div>

      <div id="output">
        <textarea id="tracks" name="tracks" rows="20" cols="80">{{ output }}</textarea>
        <br><br>
        <button class="button" id="copy" type="Button">Copy</button>
      <div>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
